body {background-color: #115;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fe2;
}

.room-container{
    display: block;
    margin: 0rem;
    padding: 0rem;
    background-color: #fe2;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color:#118;
}

.room-container ul{
    display: block;
    margin: 0;
    padding: .5rem;
    background-color: #fe2;
    height: 72vh;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
}


.room-container li{
    border: 2px solid #115;
    height: 11rem;
    margin: .5rem;
    list-style: none;
    overflow: auto;
    padding: .5rem;
}
.room-container li > h2, p {
    margin: 0;
  }

.room-container li > h4{
    margin: .5rem;
}

.room-container > h1 {
  margin: 1rem;
  padding: .5rem;
}

.room-container::-webkit-scrollbar {
    display: none;
  }


.room-container img {
    padding: 0;
    margin: 0;
    float: right;
    height: 11rem;
    width: 11rem;
    object-fit: cover;
}

.join button {
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background-color: #115;
    color: white;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 4px #990;
    float: left;
    bottom: 10rem;
}
.join button:hover {
    background-color: #017;
}

.join button:active {
    background-color: #019;
    box-shadow: 1px 1px #550;
    transform: translateY(3px);
}