html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: .5rem;
    background-color: #fe2;
    color: #118;
    overflow-x: hidden;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #aa1;
}

::-webkit-scrollbar-thumb {
    background: #228;
}

::-webkit-scrollbar-thumb:hover {
    background: #22b;
}

.back {
    height: 40px;
    width: 40px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    margin: 5px;
    float: left;
    padding: 0;
}

button.back {
    background-size: contain;
}

button.back:hover {
    background-color: #d1d102;
    outline-width: 1px;
    outline-color: black;
    outline-style: solid;
}

.back .backicon {
    height: 2rem;
    width: 2rem;
    margin:0;
    padding:0;
}

.topnav {
    margin: 0px;
    overflow: hidden;
    background-color: #fe2;


}

.topnav a {
    float: left;
    display: block;
    color: #115;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #115;
    color: white;
    transition: all 250ms ease;  

}

.topnav a.active {
    background-color: #fe2;
    color: #115;
    border-style: solid;
    border-color: #115;
    border-width: 1px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: 1px;
    margin-top: 8px;
    margin-right: 46px;
    font-size: 17px;
}

.topnav a#signIn {
    float: right;
    display: block;
    color: white;
    background-color: #228;
    ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a#signIn:hover {
    background-color: white;
    color: black;
}

.topnav #searchbtn {
    position: absolute;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0;
    margin-top: 8px;
    margin-right: 106px;
    width: 2rem;
    height: 2rem;
    right: 0;
}

.topnav #searchbtn:hover {
    background-color: #888;
    color: white;
}

.topnav #searchicon {
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.construction{
    display: flex;
    width: auto;
    height: 100%;
    overflow: hidden;
    background-color: #220;
    flex-direction: column;
}


.construction ion-icon{
    width: 4rem;
    height: 4rem;
    left: 0;
    padding-top: 1rem;
    color: #fc2;
    margin: auto;
    display: flex;
}

.construction h2{
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #fc2;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
}

.construction-bar{
    max-height: 1rem;
    background: repeating-linear-gradient(45deg, #fc2, #fc2 10px, #220 10px, #220 20px);
}

.construction-bar:first-child{
    margin-bottom: auto;
    flex-grow: 1;
}

.construction-bar:last-child{
    margin-top: auto;
    flex-grow: 1;
}



#notification-box {
    position: fixed;
    z-index: 100;
    height: auto;
    width: 16rem;
    right: 0;
}

.notification-icon {
    height:1.25rem;
    width: 1.25rem;
    margin: 0;
    padding-top: .25rem;
}

.notification {
    position: relative;
    border: 1px solid black;
    color: black;
    opacity: 0;
    width: auto;
    padding: .5rem;
    font-size: 1.5rem;
    background-color: #fff;
    left: 100%;
    animation: notify 5s linear 1; 

}

@keyframes notify {


    10% {
        opacity: 1;
        left: 0;

    }
    90% {
        opacity: 1;
        left: 0;
    }

}

@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }