html{
  overflow: hidden;
}

hr {
  border-style: solid; background-color: #115; border-color: #115;
}

legend{
  font-weight: bold; font-size: 26px;margin-top: 10px;margin-bottom: 10px; display:inline-block;
}



.dropdown-content::-webkit-scrollbar {
  width: 10px;
}

.dropdown-content::-webkit-scrollbar-track {
  background: #fff;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #228;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #22b;
}
.dropbtn {
  position: absolute;
  border: none;
  background-color: none;
  cursor: pointer;
  margin-right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: .25rem;
  right: 0;
  border-radius: 2px;
}

.dropicon {
  width: 1rem;
  height: 1rem;
}

.dropbtn:hover {
  background-color: #888;
  color: white;
}

.dropdown {
  position: absolute;
  display: inline-block;
  border: 1px solid #666;
  border-radius: 0px;
  min-width: 20rem;
  line-height: 1.5em;
  height: 1.5em;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-left: 4.25rem;
}

.form-container {
  line-height: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.form-container label {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;

}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #666;
  border-radius: 2px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1.5rem;
  max-height: 154px;
  overflow-y: scroll;
}

.dropdown-content.closed {
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eee;
}

.dropinpt {
  position: absolute;
  border: none;
  margin: 0;
  padding-left: .5rem;
  width: calc(100% - 3.1rem);
  height: 1.5rem;
  top: 0;
  background-color: none;
}

.searchbtn {
  position: absolute;
  border: none;
  background-color: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  border-radius: 2px;
}

.searchbtn:hover {
  background-color: #888;
  color: white;
}

.searchicon {
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.search-result {
  border: 2px solid #115;
  min-height: 11rem;
  margin: .5rem;
}

.room-img {
  height: 11rem;
  width: 11rem;
  object-fit: cover;
}

.search-img {
  height: 11rem;
  width: 11rem;
  overflow: hidden;
  float: left;
}

.search-text {
  display: block;
  position: relative;
  left: 0;
  margin-left: 11.5rem;
  font-size: 1rem;
}

.results {
  list-style: none;
  padding: 0;
  margin: .5rem;
  height: 80vh;
  overflow-y: scroll;
}

.search-text::after {
  content: "";
  clear: both;
  display: table;
}


.tag-container {
  display: flexbox;
  position: relative;
  width: 40rem;
  height: auto;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;


}

.tag {
  position: relative;
  display: inline-block;
  line-height: 1.5em;
  height: 1.5em;
  background-color: white;
  border-radius: 10px;
  margin: .2rem;
}

.tag .tag-icon {
  width: .8rem;
  height: .8rem;
  color: red;
  float: left;
  padding-top: 1px;
}

.tag button p {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: .2rem;
}

.tag button {
  border: 1px solid #666;
  border-radius: 10px;
  position: relative;
  background-color: white;
  cursor: pointer;
  padding-left: 5px;
  padding-right: .8rem;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  width: max-width;
  height: 1.5rem;
  float: left;
  justify-content: space-between;
}

.tag button:hover .tag-icon {
  color: white;
}

.tag button:hover {
  background-color: red;
  color: white;
}
